{% extends "base_quiz.html" %}
{% block content%}
    <div id="question">
        <p>{{ question.text }}</p>
    </div>
    {% comment %}
    {% endcomment %}
    <div id="container_quiz">
        {% comment %}
            Don't know why, but I have to add 
            /%3F after {{ question_number }}
            for that the server find the right
            url.
        {% endcomment %}
        <form id="quiz" action="/quiz/question/{{ question_number }}/%3F" method="post">
            {% csrf_token %}
            <div id="answers_container">
                {% for answer in answers %}
                    <div class="container" id="answer_{{ answer.number }}">
                                <div class="container_title" id="answer_text_{{ answer.number }}">
                                    <p>{{ answer.text }}</p>
                                    <input type="radio" name="answer" value="{{ answer.number }}" required="" id="answer_{{ answer.number }}">
                                </div>
                                <div class="content">
                                    <img class="animation"src="{{ answer.animation.image.url }}"/>
                                </div>
                        </label>
                    </div>
                {% endfor %}
            </div>
            <div id="submit">
                <input type="submit" value="Valider">
            </div>
        </form>
    </div>
    {% comment %}
    {% endcomment %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/click.js' %}"></script>
{% endblock %}
