{% load static %}
<!DOCTYPE html>
<html lang="en-US">
    <head> 
        <link rel="stylesheet" type="text/css" href="{% static 'css/style_base.css' %}"/>
	<meta charset="UTF-8">
	<meta name="author" content="Cotev">
	<meta name="description" content="">
	<meta name="keywords" content="">
        <title>{% block title %}Quiz{% endblock %}</title>
    </head>

        <body>
            <header><span><strong><a href="{% url "quiz" %}">Quiz</strong></a></span></header>
            <div id="container_nav_contents">
                <section id="content_quiz">
                    {% block content %}
                        contents from the base.html
                    {% endblock %}
                </section>
            </div>
            <footer><a href="{% url "contact_quiz" %}">Contact</a></footer>
        </body>
</html>
